SearchFood/Service References/SearchFoodServiceReference/SearchFoodService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:24048/SearchFoodService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" />
  <xs:import schemaLocation="http://localhost:24048/SearchFoodService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SearchFoodServer" />
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q1:ArrayOfCompositeCategories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategorie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategorieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetCategorieResult" nillable="true" type="q2:CompositeCategories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SearchFoodServer" minOccurs="0" name="c" nillable="true" type="q3:Categorie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategoriesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategoriesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SearchFoodServer" minOccurs="0" name="c" nillable="true" type="q4:Categorie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategoriesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentaires">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentairesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetCommentairesResult" nillable="true" type="q5:ArrayOfCompositeCommentaires" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetCommentaireResult" nillable="true" type="q6:CompositeCommentaires" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentairesByRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRestaurant" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentairesByRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetCommentairesByRestaurantResult" nillable="true" type="q7:ArrayOfCompositeCommentaires" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentaireByUserAndRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="idRestaurant" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentaireByUserAndRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetCommentaireByUserAndRestaurantResult" nillable="true" type="q8:CompositeCommentaires" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommentaires">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SearchFoodServer" minOccurs="0" name="c" nillable="true" type="q9:Commentaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommentairesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCommentaires">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCommentairesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommentaires">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SearchFoodServer" minOccurs="0" name="c" nillable="true" type="q10:Commentaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommentairesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoriques">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoriquesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetHistoriquesResult" nillable="true" type="q11:ArrayOfCompositeHistorique" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistorique">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoriqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetHistoriqueResult" nillable="true" type="q12:CompositeHistorique" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoriqueByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoriqueByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetHistoriqueByUserResult" nillable="true" type="q13:ArrayOfCompositeHistorique" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHistorique">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SearchFoodServer" minOccurs="0" name="h" nillable="true" type="q14:Historique" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHistoriqueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHistorique">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHistoriqueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHistorique">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SearchFoodServer" minOccurs="0" name="h" nillable="true" type="q15:Historique" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHistoriqueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetNotesResult" nillable="true" type="q16:ArrayOfCompositeNotes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetNoteResult" nillable="true" type="q17:CompositeNotes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoteByRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRestaurant" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoteByRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetNoteByRestaurantResult" nillable="true" type="q18:ArrayOfCompositeNotes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoteByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoteByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetNoteByUserResult" nillable="true" type="q19:ArrayOfCompositeNotes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoyenneNoteRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRestaurant" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoyenneNoteRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMoyenneNoteRestaurantResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SearchFoodServer" minOccurs="0" name="n" nillable="true" type="q20:Note" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNotesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SearchFoodServer" minOccurs="0" name="n" nillable="true" type="q21:Note" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurants">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetRestaurantsResult" nillable="true" type="q22:ArrayOfCompositeRestaurants" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetRestaurantResult" nillable="true" type="q23:CompositeRestaurants" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRestaurants">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SearchFoodServer" minOccurs="0" name="r" nillable="true" type="q24:Restaurant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRestaurantsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRestaurants">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRestaurantsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRestaurants">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SearchFoodServer" minOccurs="0" name="r" nillable="true" type="q25:Restaurant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRestaurantsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypesCuisine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypesCuisineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetTypesCuisineResult" nillable="true" type="q26:ArrayOfCompositeTypesCuisine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeCuisine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeCuisineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetTypeCuisineResult" nillable="true" type="q27:CompositeTypesCuisine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTypesCuisine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SearchFoodServer" minOccurs="0" name="tc" nillable="true" type="q28:Type_Cuisine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTypesCuisineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTypesCuisine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTypesCuisineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTypesCuisine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SearchFoodServer" minOccurs="0" name="tc" nillable="true" type="q29:Type_Cuisine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTypesCuisineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilisateurs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilisateursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetUtilisateursResult" nillable="true" type="q30:ArrayOfCompositeUtilisateurs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilisateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilisateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="GetUtilisateurResult" nillable="true" type="q31:CompositeUtilisateurs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthentificationUtilisateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pseudo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthentificationUtilisateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" minOccurs="0" name="AuthentificationUtilisateurResult" nillable="true" type="q32:CompositeUtilisateurs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUtilisateurs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SearchFoodServer" minOccurs="0" name="u" nillable="true" type="q33:Utilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUtilisateursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUtilisateursResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUtilisateurs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUtilisateursResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUtilisateurs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SearchFoodServer" minOccurs="0" name="u" nillable="true" type="q34:Utilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUtilisateursResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistePseudo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pseudo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistePseudoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExistePseudoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteMailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>