SearchFood/Service References/SearchFoodServiceReference/SearchFoodService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SearchFoodServer.CompositeClass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCompositeCategories">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositeCategories" nillable="true" type="tns:CompositeCategories" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositeCategories" nillable="true" type="tns:ArrayOfCompositeCategories" />
  <xs:complexType name="CompositeCategories">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCategorieValue" type="xs:int" />
      <xs:element minOccurs="0" name="NomCategorieValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeCategories" nillable="true" type="tns:CompositeCategories" />
  <xs:complexType name="ArrayOfCompositeCommentaires">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositeCommentaires" nillable="true" type="tns:CompositeCommentaires" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositeCommentaires" nillable="true" type="tns:ArrayOfCompositeCommentaires" />
  <xs:complexType name="CompositeCommentaires">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommentairesValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCommentairesValue" type="xs:int" />
      <xs:element minOccurs="0" name="IdRestaurantsValue" type="xs:int" />
      <xs:element minOccurs="0" name="IdUtilisateursValue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeCommentaires" nillable="true" type="tns:CompositeCommentaires" />
  <xs:complexType name="ArrayOfCompositeHistorique">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositeHistorique" nillable="true" type="tns:CompositeHistorique" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositeHistorique" nillable="true" type="tns:ArrayOfCompositeHistorique" />
  <xs:complexType name="CompositeHistorique">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateValue" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdHistoriqueValue" type="xs:int" />
      <xs:element minOccurs="0" name="IdRestaurantsValue" type="xs:int" />
      <xs:element minOccurs="0" name="IdUtilisateursValue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeHistorique" nillable="true" type="tns:CompositeHistorique" />
  <xs:complexType name="ArrayOfCompositeNotes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositeNotes" nillable="true" type="tns:CompositeNotes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositeNotes" nillable="true" type="tns:ArrayOfCompositeNotes" />
  <xs:complexType name="CompositeNotes">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdNotesValue" type="xs:int" />
      <xs:element minOccurs="0" name="IdRestaurantsValue" type="xs:int" />
      <xs:element minOccurs="0" name="IdUtilisateursValue" type="xs:int" />
      <xs:element minOccurs="0" name="NotesValue" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeNotes" nillable="true" type="tns:CompositeNotes" />
  <xs:complexType name="ArrayOfCompositeRestaurants">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositeRestaurants" nillable="true" type="tns:CompositeRestaurants" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositeRestaurants" nillable="true" type="tns:ArrayOfCompositeRestaurants" />
  <xs:complexType name="CompositeRestaurants">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdresseValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodePostalValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DureeRepasValue" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdCategoriesValue" type="xs:int" />
      <xs:element minOccurs="0" name="IdRestaurantsValue" type="xs:int" />
      <xs:element minOccurs="0" name="IdTypesCuisineValue" type="xs:int" />
      <xs:element minOccurs="0" name="LatitudeValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongitudeValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomRestaurantsValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrixValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SitesWebValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelephoneValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VilleValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeRestaurants" nillable="true" type="tns:CompositeRestaurants" />
  <xs:complexType name="ArrayOfCompositeTypesCuisine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositeTypesCuisine" nillable="true" type="tns:CompositeTypesCuisine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositeTypesCuisine" nillable="true" type="tns:ArrayOfCompositeTypesCuisine" />
  <xs:complexType name="CompositeTypesCuisine">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdTypesCuisineValue" type="xs:int" />
      <xs:element minOccurs="0" name="TypesCuisineValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeTypesCuisine" nillable="true" type="tns:CompositeTypesCuisine" />
  <xs:complexType name="ArrayOfCompositeUtilisateurs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositeUtilisateurs" nillable="true" type="tns:CompositeUtilisateurs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositeUtilisateurs" nillable="true" type="tns:ArrayOfCompositeUtilisateurs" />
  <xs:complexType name="CompositeUtilisateurs">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUtilisateurValue" type="xs:int" />
      <xs:element minOccurs="0" name="MailValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrenomValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PseudoValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeUtilisateurs" nillable="true" type="tns:CompositeUtilisateurs" />
</xs:schema>